body {
    background-color: var(--background);
}

/*HEADER*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px black;
    padding: 0 150px;
    background-color: var(--primary);
}

.container-logo img  {
    width: 80px;
}

.nav-menu ul {
    display: flex;
    gap: 40px;
}

.nav-menu ul li a {
    color: var(--conventional-background);
    text-decoration: none;
}

/*END HEADER*/

/*MAIN*/

main {}

.hero {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
    color: var(--conventional-background);
    background-color: var(--secondary);
}

.hero-img {
    margin-right: 75px;
}

.hero-img img {
    width: 500px;
}

.hero-text {
    margin-left: 75px;
}

.hero-text h1 {
    font-size: 55px;
    text-align: justify;
    margin-bottom: 15px;
}

.hero-text h2 {
    font-size: 35px;
    text-align: justify;
    margin-bottom: 25px;
}

.hero-text h3 {
    font-size: 15px;
    text-align: justify;
}

.forma-pagamento {
    display: flex;
    gap: 25px;
    padding: 25px 0;
    justify-content: center;
}

.opcao-pagamento {
    height: 500px;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 5px black;
    background-color: var(--conventional-background);
}

.opcao-pagamento #title1 {
    color: var(--success);
    font-size: 25px;
}

.opcao-pagamento #title2 {
    font-size: 25px;
    color: var(--primary)
}

.organizer1 {
    display: flex;
}

.payment-details span {
    display: block;
}

.qrcode-box {
    background-color: red;
}

.qrcode-box img {
    width: 200px;
}

/*END MAIN*/