

body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: transparent;
}

main {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 0 5px 1px grey;
    background-color: var(--background);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 200px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}

.hero h2 {
    font-weight: bold;
    font-size: 40px;
    color: var(--primary);
}

.hero p {
    color: var(--primary);
}

.hero h3 {
    color: var(--rose);
}

.container-pagamento {
    display: flex;
    width: 80%;
    flex-direction: column;
    background-color: var(--background);
}

.pagamento-pix {
    background-color: var(--ternary);
    border-radius: 25px;
    border: 1px solid var(--secondary);
}

.pagamento-pix .container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 25px;
    color: var(--conventional-background);
}

.pagamento-pix .icon-pix img {
    width: 42px;
}

.pagamento-pix .container-qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/*divider*/

.divider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.divider::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e7cfc2;
}

.divider span {
    position: relative;
    z-index: 1;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFF5EF;
    border: 2px solid #e7cfc2;
    border-radius: 50%;

    font-size: 13px;
    font-weight: 600;
    color: #9b6341;
    text-transform: uppercase;
}

/*divider*/

.pagamento-posterior {
    border-radius: 10px;
    border: 1px solid var(--secondary);
    background-color: var(--ternary);
}

.pagamento-posterior .container-title {
    display: flex;
    flex-direction: column;
    text-align: center;
}